@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap');

@media screen and (max-width: 650px) {
  html {
    width: 620px;
    overflow:auto;
  }
}

:root {
  color-scheme: dark;
}


::selection {
  color: #19191c;
  background:white;
}

body{
  /* width:100%; */
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:#19191c;
  overflow-x:hidden;
}

h1 {
  font-weight: 700;
  color:#fff;
}

h2{
  font-weight: 400;
  color:#fff;
}
p{
  text-align:center;
  color:#FFFFFFCC;
  padding:1rem;
}

.infobox{
  background:#252428;
  color:#BEBDBE;
    border-radius: 5px;
  > ul {
    padding:3rem;
  }
}

.index-list{
  padding:2rem;
  justify-self: flex-start;
  align-self: flex-start;
}


.back-button {
  background: rgb(57,2,39);
  border-radius: .5em;
  border:1px solid rgb(91,91,91);
  color: white;
  font-size: 30px;
  line-height: 1;
  padding: 20px 30px 15px 25px;
  margin-top: 50px;
  text-decoration: none;
  transition: all 0.2s;
}

.back-button:hover {
  background: rgba(0,128,128,0.8);
}

/*
  this is indeed a horrible fix
*/
.header:hover:after{
  content: "<---";
  color:orange;
  animation: 500ms ease-in-out slidein;
}

a{
  text-decoration: none;
}

.bottom-index{
  display:flex;
  flex-direction: row;
  height:3rem;
  justify-content: center;
  align-items: center;
  > img{
    height:inherit;
  }
}

.banner{
  width:80%;
  margin-bottom: 20px;
  user-select:none;
}

